.dropdown {
  position: relative;
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 52px;
  border-radius: 10px;
  padding: 13px 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
}

.head button {
  width: 26px;
  height: 100%;
  transition: 0.3s ease-out;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
}

.head button svg {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.head button svg * {
  color: white;
}

.body {
  position: relative;
  color: var(--primary-color);
  background-color: var(--grey-color);
  border-radius: 0 0 10px 10px;
  padding: 40px 12px 30px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
  top: -10px;
  z-index: -1;
  transition: all 0.3s;
  transform-origin: top center;
}

.body ul {
  padding-left: 0;
}

.open .body {
  animation: openingUp 0.2s;
  animation-fill-mode: forwards;
}

.closed .body {
  display: none;
  /* animation: closingDown 0.4s;
  animation-fill-mode: forwards; */
}

.dropdown svg {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.dropdown.closed svg {
  rotate: x 180deg;
}

@media (max-width: 744px) {
  .head {
    height: 30px;
    font-size: 13px;
    padding: 5px 10px;
  }

  .body {
    font-size: 12px;
    line-height: 17px;
  }
}

@keyframes closingDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1, 0);
    display: none;
  }
}

@keyframes openingUp {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1);
  }
}
