@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
  --primary-color: #ff6060;
  --grey-color: #f6f6f6;
}

main,
header {
  padding: 40px 100px 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 744px) {
  main,
  header {
    padding: 20px 20px 0;
  }
}
