footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 209px;
  background-color: black;
}

footer * {
  color: white;
}

.logo {
  width: 122px;
  margin-top: 66px;
}

.footerText {
  font-size: 24px;
}

@media (max-width: 744px) {
  .footerText {
    font-size: 12px;
  }
}
